.navbar-image {
    width: 100%;
    height: auto;

}

// .nav-sec {
//     filter: brightness(1.5) contrast(0.8);
// }

.status {
    display: flex;
    align-items: center;
    gap: 8px;
}

.active {
    width: 10px;
    height: 10px;
    background-color: rgb(19, 135, 58);
    border-radius: 50%;
    opacity: 1;
    display: inline-block;
    margin-right: 6px;
}

.onhvr:hover {
    background-color: rgb(8, 8, 8);
    content: 'home';
}

.onhvr1:hover {
    background-color: rgb(8, 8, 8);
}

.onhvr2:hover {
    background-color: rgb(8, 8, 8);
}

.onhvr3:hover {
    background-color: rgb(8, 8, 8);
}

.tooltip-text {
    margin-top: 4px;
    font-size: 12px;
    color: white;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
}

.onhvr:hover .tooltip-text {
    opacity: 1;
    top: 37px;
    transform: translateY(0)
}

.onhvr1:hover .tooltip-text {
    opacity: 1;
    top: 36px;
}

.onhvr2:hover .tooltip-text {
    opacity: 1;
    top: 36px;
}

.onhvr3:hover .tooltip-text {
    opacity: 1;
    top: 36px;
}



.border-cls {
    border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
}